<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <nav class="navigation-bar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="/customer">Customers</a></li>
        <li><a href="/order">Orders</a></li>
        <li><a href="/product">Products</a></li>
        <li><a href="/delivery">Deliveries</a></li>
        <li><a href="/supplier">Suppliers</a></li>
        <li><a href="/order_product">Order_Products</a></li>
      </ul>
    </nav>

	{{{body}}}
</body>
</html>